.login-page {
    display: flex;
    justify-content: center;
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        img{
        width: 200px;
        height: auto;
        border-radius: 18px;
        }   
    }

    .form {
        max-width: 500px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        p{
            letter-spacing: 1px;
            margin : 5px 0;
        }
        .email{
            margin: 10px 0;
            input {
                width: 250px;
                padding: 10px 15px;
                border-radius: 8px;
                border: none;
                box-shadow: 0 2px 5px 0 grey;
            }

        }
        .password{
            margin: 8px 0;
            input {
                width: 250px;
                padding: 10px 15px;
                border: none;
                border-radius: 8px;
                box-shadow: 0 2px 5px 0  grey;
            }
        }
        .btn {
            background: #3498db;
            background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
            background-image: -moz-linear-gradient(top, #3498db, #2980b9);
            background-image: -ms-linear-gradient(top, #3498db, #2980b9);
            background-image: -o-linear-gradient(top, #3498db, #2980b9);
            background-image: linear-gradient(to bottom, #3498db, #2980b9);
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 28px;
            font-family: Arial;
            color: #ffffff;
            font-size: 18px;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
            border: none;
            width: 250px;
            margin-top: 10px;
          }
          
          .btn:hover {
            background: #3cb0fd;
            background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
            text-decoration: none;
          }
    }
}

}